body {
    margin: 0 auto;
    background-color: gray;
    background-image: url("/Users/yoshikiyonezawa/Desktop/画像フォルダ/1AF62B05-8587-4D6B-8614-691E4A977F01.jpg");
    background-position: center;
}

.Top img {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 120px;
    height: fit-content;
    border-radius: 60%;
}

.Top {
    text-align: center;
}

.NickName {
    width: 200px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin: 0 auto;
}

.Introduction{
    margin-top: 20px;
    font-size: 13px;
    width: 200px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.Main {
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.7);
    width: 200px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    display: inline-block;
    border-color: black;
    border-radius: 5px;
    box-shadow: 5px 5px black;
}

li:hover {
    background-color: white;
}



a , a::before , a::after {
    color: black;
    text-decoration: none;
}